/*图片馆样式*/

.right-books{
  position: absolute;
  left: 35px;
  top: 25px;
  background: #fff;
  padding: 20px;

}
.books-box .list{
  width: 90%;
  height: 145px;
  border-bottom:1px solid #d9d9d9;
  /*box-shadow: 0 1px 5px 2px #dbdbdb;*/
  
/*  padding: 2% 0;*/
  font-size: 12px;
  margin-bottom: 25px;
  float: left;
  margin-left: 30px;
  text-align: left;
  position: relative;
}

.books-img img{
  width: 110px;
  height: 135px;
  float: left;
}
.books-contents{
  float: left;
  padding-left: 20px;
}
.books-name{
  color: #96161a;
  font-size: 18px;

}
.books-details{
 
  margin-top: 10px;
  text-align: left;
}
.books-details span{
  color: #6a77b6;
}
.books-group{
  background: #6a77b6;
  color: #fff;
  padding: 3px 8px;
  float: left;
  margin:12px 0;
  border-radius: 2px;
  
}
.books-state{
  width: 100%;
  float: left;

  color: #666;
}
.books-state span{
  color: #6a77b6;
}
.books-state input{
  background: #57b3ef;
  color: #fff;
  border-radius: 8px;
  padding: 0 4px;
  cursor: pointer;
}
.books-state input:hover{
  background: #3597d7;
}
.state-img{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 94px;
  height: 70px;
}

.img-yes{
  background: url(../images/state-img1.png) no-repeat;

}

.img-no{
  background: url(../images/state-img2.png) no-repeat;

}